<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{ title }}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a [routerLink]="['/dashboard']">Dashboard</a>
          </li>

          <li *ngFor="let row of breadcrumb" class="breadcrumb-item" [class.active]="isTheLast(row)">
            <span *ngIf="isTheLast(row)">
              {{row.text}}
            </span>

            <a *ngIf="!isTheLast(row)" [routerLink]="row.link">
              {{row.text}}
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
