  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Administração</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a [routerLink]="['/dashboard']" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/administrations']" class="nav-link">
              <i class="nav-icon fas fa-building"></i>
              <p>
                Administrações
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/cities']" class="nav-link">
              <i class="nav-icon fas fa-city"></i>
              <p>
                Cidades
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/houses']" class="nav-link">
              <i class="nav-icon fas fa-place-of-worship"></i>
              <p>
                Casas de Oração
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/departments']" class="nav-link">
              <i class="nav-icon fas fa-sitemap"></i>
              <p>
                Departamentos
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/positions']" class="nav-link">
              <i class="nav-icon fas fa-user-tag"></i>
              <p>
                Cargos
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/members']" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Membros
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/users']" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Usuários
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/logout']" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>
                Sair
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
